<%= render 'books/userinfo', books: @books %>

<mian>
  <div class="col-md-8 offset-md-1">
    <h2>Users</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
            <% @users.each do |user| %>
            <th>Title</th>
            <%= user.name %>
            
            <th>Opinion</th>
           
            <% end %>
         </tr>
    </thead>
    </table>
  </div>
</mian>